<div ng-switch="node.type">

  <div ng-switch-when="choice" class="full-width full-width--content full-width--color1">
    <div class="wrapper">
      <section class="section section--content">
        <info info="info" ng-repeat="info in node.infos track by $index"></info>
      </section>
    </div>
  </div>

  <div ng-switch-when="info" class="full-width full-width--content full-width--light-color1">
    <div class="wrapper">
      <section class="section section--result">
        <node-info node="node"></node-info>
      </section>
    </div>
  </div>

</div>
