<div ng-class="{'result-block__image': nodeInfo.mapGeo(), 'result-block__header': !nodeInfo.mapGeo()}" class="result-block">

  <map ng-if="nodeInfo.mapGeo()" geo="nodeInfo.mapGeo"></map>
  
  <p ng-if="!nodeInfo.mapGeo()" class="picto">{{::node.title | limitTo:1 }}</p>

</div>
<div ng-class="{'result-block__image-desc': nodeInfo.mapGeo(), 'result-block__content': !nodeInfo.mapGeo()}" class="result-block">
  <h2 class="caps-onwhite">{{::node.title}}</h2>
  <info info="info" ng-repeat="info in node.infos track by $index"></info>
</div>
