<button type="submit"
        class="form__button form__button--ondark"
        ng-if="!stepButton.loading">
  Je continue
</button>
<button type="button"
        class="form__button form__button--ondark form__button--wait"
        ng-if="stepButton.loading">
  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
  <span class="sr-only">Chargement...</span>
</button>
