<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <title>JuriService, la justice à portée de clic.</title>
    <link href="css/screen.css" rel="stylesheet" />
    <link href="https://openlayers.org/en/v3.18.2/css/ol.css" rel="stylesheet" type="text/css" />
    <script src="vendor/js/angular-1.5.8.min.js"></script>
    <script src="vendor/js/angular-sanitize-1.5.8.min.js"></script>
    <script src="vendor/js/angular-route-1.5.8.min.js"></script>
  </head>
  <body ng-app="app">
    <div class="full-width full-width--color1">
      <div class="wrapper">
        <header class="section section--centered">
          <a href="/" title="retour à l&#39;accueil">
            <img alt="Logo JuriService.net, la justice à portée de clic" src="img/def-logo-web.svg" /></a>
        </header>
      </div>
    </div>
    <div class="full-width full-width--color1 ng-cloak">
      <div class="wrapper">
        <div class="section section--breadcrumbs" ng-controller="breadcrumbCtrl as b">
          <span ng-repeat="s in b.all" ng-switch="s.active">
              <i class="fa fa-chevron-right"></i>&nbsp;
              <a ng-switch-when="false"
                 ng-href="#/step/{{::b.stepUrl(s)}}">{{::s.title}}</a>

              <span ng-switch-when="true">{{::s.title}}</span>
          </span>
          <div ng-class="{'loader': b.loading}"></div>
        </div>
      </div>
    </div>
    <ng-view></ng-view>
    <top></top>
    <div ng-cloak ng-controller="bottomCtrl as b">
      <div class="full-width full-width--color1" ng-if="b.url">
        <div class="wrapper">
          <header class="section section--centered">
            <p class="form__line">Retrouvez ou partagez cette page en copiant le lien suivant&nbsp;:</p>
            <p class="form__line">
              <input class="form__input-text" type="text" value="{{::b.url}}" />
            </p>
          </header>
        </div>
      </div>
    </div>
    <div class="full-width full-width--light-grey">
      <div class="wrapper">
        <footer class="section section--footer">
          <div class="footer footer__left">
            <ul class="fa-ul">
              <li><i class="fa fa-info-circle" aria-hidden="true"></i> <a href="/a-propos.html">À propos</a></li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="mailto:co%6e%74ac%74@%6aur%69ser%76i%63%65.%6e%65t">contact@juriservice.net</a></li>
            </ul>
            <p>JuriService est une association loi 1901 à vocation sociale et solidaire.</p>
          </div>
          <div class="footer footer__right">
            <ul class="fa-ul">
              <li><i class="fa fa-code" aria-hidden="true"></i> <a href="https://framagit.org/juriservice" target="_blank">Contribuer (code source)</a></li>
              <li><i class="fa fa-heart" aria-hidden="true"></i> <a href="https://www.donnerenligne.fr/juriservice/faire-un-don" target="_blank">Faire un don</a></li>
              <li><i class="fa fa-users" aria-hidden="true"></i> <a href="https://www.helloasso.com/associations/juriservice/adhesions/devenez-adherent-de-juriservice" target="_blank">Devenir adhérent</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
    <script src="vendor/js/ol-3.18.2.min.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
