<dl class="node-infos-book">
  <dt class="node-infos-book__title">
    <i class="fa fa-map-o"><span class="hidden">Adresse</span></i>
  </dt>
  <dd class="node-infos-book__definition">
    <p ng-bind-html="info.address | toLines"></p>
  </dd>
  <dt class="node-infos-book__title">
    <i class="fa fa-phone"><span class="hidden">Téléphone</span></i>
  </dt>
  <dd class="node-infos-book__definition">
    <p>{{::info.phone}}</p>
  </dd>
</dl>
