<p>
  <a href="https://api.juriservice.net/cerfa/{{info.id}}" target="_blank">
    {{ info.text || info.url }}
  </a>
  <span ng-if="info.notice_id">
    (<a href="https://api.juriservice.net/cerfa/{{info.id}}/notice/{{info.notice_id}}" target="_blank">Notice</a>)
  </span>
</p>
