<div ng-controller="accordionCtrl as accordion" class="accordion">
  <dl>
    <ng-repeat ng-repeat="def in info.items">
      <dt ng-click="accordion.toggle($index)" class="accordion__title" 
          ng-class="accordion.isVisible($index) ? 'accordion__title--expanded' : ''">
        <info info="def.items[0]"></info>
      </dt>
      <dd ng-repeat="item in def.items.slice(1)" ng-show="accordion.isVisible($parent.$index)"
          class="accordion__content small-desc light-text">
        <info info="item"></info>
      </dd>
    </ng-repeat>
  </dl>
</div>
