<form id="graph-form" ng-controller="inputCtrl as input" ng-submit="input.next()">
  <fieldset class="form__section">
    <legend class="form__title">{{::info.label}}</legend>
    <p ng-hide="!info.help">{{::info.help}}</p>
    <div class="form__group form__group__last">
      <p ng-if="input.error" class="form__desc--error">{{input.error}}</p>
      <p class="form__line">
        <div typeahead
             items="input.autocompleteData"
             term="input.choice"
             search="input.autocomplete(input.choice)"
             select="input.select(item)">
          <ul class="autocomplete__list">
            <li class="autocomplete__line"
                typeahead-item="item"
                ng-repeat="item in input.autocompleteData">
              <span ng-repeat="(key, val) in item">{{::val}}&nbsp;</span>
            </li>
          </ul>
        </div>
        <step-button></step-button>
      </p>
    </div>
  </fieldset>
</form>
