@import "bourbon";
@import "neat";
@import "normalize";
@import "node_modules/font-awesome/scss/font-awesome";
@import "fonts";

$color-green       : #33dab6;
$color-dark-green  : darken($color-green, 20%);
$color-medium-green: lighten($color-green, 15%);
$color-light-green : lighten($color-green, 40%);
$color-ultralight-green : lighten($color-green, 45%);
$color-blue        : adjust-hue(saturate(darken($color-green, 15%), 40%), 25deg);
$color-white       : #fefefe;
$color-grey        : darken($color-white, 66%);
$color-medium-grey : darken($color-white, 45%);
$color-light-grey  : desaturate(lighten($color-green, 33%), 33%);
$color-black       : #212121;
$color-black       : desaturate(darken($color-green, 33%), 45%);
$color-twitter     : #1da1f2;
$color-facebook    : #3b5998;
$color-error       : #cf1717;

$font-weight-regular : 400;
$font-weight-medium  : 500;
$font-weight-bold    : 700;

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: $color-black;
}

/* font styles */


a, a:hover, a:link {
  color: $color-blue;
}
a:hover {
  text-decoration: none;
}
strong {
  color: $color-dark-green;
	font-weight: $font-weight-medium;
}
hr {
  border: 0;
  border-top: 2px dotted  $color-green;
}
blockquote {
  margin-left: 0;
}

/* used with <address> */
.normal {
  font-style: normal;
}

.separator--plain {
  border-top: 3px solid  $color-light-green;
}

.small-title {
  font-size: modular-scale(0);
}

/* Used with a h2 in results section */
.caps-onwhite {
  text-transform: uppercase;
  color: $color-green;
}

/* used in results for additional informations */
.small-desc {
  font-size: modular-scale(-1);
  line-height: modular-scale(2);
}

/* Used for nodes info.text when required */
.text--larger {
  font-size: modular-scale(1); 
}

.align-right {
  text-align: right;
}

/* lighter text */
.light-text {
  color: $color-medium-grey;
}

.beta {
  background-color: $color-light-green;
  color: $color-green;
  font-style: normal;
  border-radius: 3px;
  padding: 0px 5px;
}

.hidden {
  display: none;
}

/* ICONS */
.icon {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin: modular-scale(1);
  &--facebook {
    width: 50px;
    height: 50px;
  }
}
.icon path {
  fill: $color-green;
}
.icon--facebook:hover path {
  fill: $color-facebook; 
}
.icon--twitter:hover path {
  fill: $color-twitter; 
}

.loader {
  height: 2px;
  margin-bottom: -2px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2px;
  background-color: $color-dark-green;
  animation: loading 0.7s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

/* see angular ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
 Section / Modules 

 */

.full-width {
  &--content {
    min-height: 50%;
  }
  &--color1 {
    background-color: $color-green;
    color: $color-white;
  }
  &--medium-color1 {
    background-color: $color-medium-green;
  }
  &--light-grey {
    background-color: $color-light-grey;
    color: $color-grey;
  }
  &--light-color1 {
    background-color: $color-light-green;
    color: $color-dark-green;
  }
}

.wrapper {
  @include outer-container;
}

.section {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: modular-scale(1);
  @include media(min-width 320px max-width 768px, 6) {
    @include span-columns(6);
    @include shift(0);
    @include pad(default 10px default 10px);
  }
  &--centered {
    text-align: center;
    @include pad(modular-scale(1) default modular-scale(0) default);
  }
  &--footer {
    @include pad(modular-scale(3) 10px  modular-scale(3) 10px);
    font-size: modular-scale(-1);
    line-height: modular-scale(1);
  }
  &--breadcrumbs {
    margin-top: modular-scale(2);
    border-top: 2px solid $color-light-green;
    border-bottom: 2px solid $color-light-green;
    font-size: modular-scale(0);
    line-height: modular-scale(3);
		font-weight: $font-weight-medium;
    color: $color-light-green;
    a {
      color: $color-dark-green;
    }
  }
  &--content {
    margin-top: modular-scale(0);
    margin-bottom: modular-scale(4);
  }
  &--button-centered {
    @include pad(0);
    & .form__button {
      margin: modular-scale(2) auto;
    }
  }
  &--framed {
    border: 3px solid $color-light-green;
    border-radius: 5px;
    @include pad(0 20px);
  }
}

.fluid-blocks {
  @include outer-container;
  &__elt {
    @include media(min-width 320px max-width 600px, 12) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media(min-width 601px, 12) {
      @include span-columns(4);
      @include omega(3n);
    }
    margin-bottom: 10px;
  }
  &__link {
    display: block;
    line-height:0;
    padding: 0;
    border-bottom: 2px solid $color-white;
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__link:hover {
    border-bottom: 2px solid $color-blue;
    ;
  }
}

.footer {

  @include span-columns(6);
  @include media(min-width 320px max-width 640px, 6) {
    @include fill-parent();
  }
  .fa-ul {
    font-size: modular-scale(1);
    line-height: modular-scale(2);
    margin-left: 0;
  }
  &__left {
    border-right: 2px solid $color-white;

    @include media(min-width 320px max-width 640px, 6) {
      border-right: 0;
      border-bottom: 2px solid $color-white;
    }
  }
  &__right {
    .fa-ul {
      margin-left: 2%;
      @include media(min-width 320px max-width 640px, 6) {
        margin-left: 0;
      }
    }
  }

}



/*
  SERVICE FORMS
*/

.form {
  &__input-email, &__input-text {
    width: 200px;
    height: modular-scale(3);
    margin-right: modular-scale(1);
    margin-bottom: modular-scale(1);
    padding: 0px 10px 0px 10px;
    border: 1px solid $color-green;
    border-radius: modular-scale(-3);
    background-color: $color-light-green;
    color: $color-grey;
  }
  &__input-email:focus, &__input-text:focus {
    background-color: $color-white;
  }
  &__input--autocomplete:focus + &__desc--expandable {
    display: block;
  }

  &__input-radio {
    @include span-columns(1 of 12);
    @include pad();
    margin-right: modular-scale(-0.5);
  }
  &__input-radio:checked ~ &__desc--expandable {
    display: block;
  }
  
  @include display-context(table) {
    &__label {
      line-height: modular-scale(0);
      @include span-columns(10 of 12);
    }
  
    &__desc {
      @include span-columns(10 of 12);
      @include shift(1);
      margin-top: modular-scale(0);
      font-size: modular-scale(-1);
      &--error {
        margin-left: 0;
        margin-bottom: modular-scale(1);
        color: $color-error;
      }
      // expandable / expanded. Use it to show / hide autocomplete list or error messages
      &--expandable {
        display: none;
      }
      &--expanded {
        display: block;
      }
    }
  }
  &__button {
    width: 200px;
    height: modular-scale(3);
    border-radius: modular-scale(1.5);
    font-weight: $font-weight-bold;
    letter-spacing: 0.2ex;
    cursor: pointer;
    // For links, make it solid  like a button ;-)
    & a {
      display: inline-block;
      width: 100%;
      margin-top: modular-scale(-7);
      line-height: modular-scale(2);
      text-decoration: none;
      text-align: center;
      &:hover, &:link, &:visited {
        background-color: transparent;
        color: inherit;
      }
    }
    &--onwhite {
      background-color: $color-green;
      color: $color-white;
      border: 3px solid $color-green;
      &:hover {
        background-color: $color-white;
        color: $color-green;
      }
    }
    &--ondark {
      background-color: $color-white;
      color: $color-green;
      border: 3px solid $color-white;
      &:hover {
        background-color: $color-green;
        color: $color-white;
      }
    }
    &--wait, &--wait:hover {
      background-color: $color-medium-green;
      border-color: $color-medium-green;
      color: $color-white;
      cursor: default;
    }
  }
  &__section {
    border: 0;
    padding: 0;
  }
  &__group {
    @include span-columns(7 of 8);
    @include shift(1 of 8);
    &--last {
      margin-bottom: modular-scale(4);
    }
  }
  &__line {
    @include fill-parent();
    line-height: modular-scale(0);
  }
  &__title {
    font-size: modular-scale(2);
    margin-top: modular-scale(2);
    margin-bottom: modular-scale(-2);
    color: $color-dark-green;
  }
}

.autocomplete {
  position: absolute;
  width: 200px;
  max-width: 300px;
  max-height: modular-scale(3) * 5;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: - modular-scale(1.05);
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  border-radius: modular-scale(-3);
  z-index: 1000;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__line {
    margin: 0;
    padding:2px;
    background-color: $color-white;
    border-bottom: 1px solid $color-light-grey;
    color: $color-grey;
    font-size: modular-scale(0);
    line-height: modular-scale(2);
    cursor: pointer;
    &:last-child {
      border-bottom: 0;
    }
    &.active {
      background-color: $color-light-green;
    }
  }
}

//
//	RESULT BLOCKS
//
.result-block {
  border-top: modular-scale(-2.0) solid $color-green;
  // Basics left and right blocks
  &__header {
    @include span-columns(2 of 8);
    @include media(min-width 320px max-width 640px, 6) {
      @include span-columns(6 of 6);
    }
  }
  &__content {
    @include span-columns(6 of 8);
    @include omega();
    padding-top: modular-scale(-3);
    @include media(min-width 320px max-width 640px, 6) {
      @include span-columns(6 of 6);
      border-top: 1px solid $color-green;
    }
  }
  // Special blocks grid width image on left
  &__image {
    @include span-columns(3 of 8);
    @include media(min-width 320px max-width 1024px, 6) {
      @include span-columns(6 of 6);
    }
  }
  &__image-desc {
    @include span-columns(5 of 8);
    @include omega();
    padding-top: modular-scale(-3);
    @include media(min-width 320px max-width 1024px, 6) {
      @include span-columns(6 of 6);
      padding-top: modular-scale(0);
      border-top: 1px solid $color-green;
    }
  }
}

// used in result-block but maybe useful elsewhere //
.picto {
  font-size: modular-scale(3.25);
  font-weight: $font-weight-bold;
  width: modular-scale(2);
  height: modular-scale(2);
  margin-left: auto;
  margin-right: auto;
  margin-top: modular-scale(-2);
  border-radius: modular-scale(1);
  background-color: $color-white;
  line-height: modular-scale(1);
  text-align: center;
  color: $color-green;
  border: modular-scale(-6) solid $color-green;
  @include media(max-width 640px) {
    font-size: modular-scale(0.25);
    margin-bottom: modular-scale(-1);
  }
}

// remove top borders below breadcrumbs (1st child in ng nodes loop)
.result-node:first-child .result-block {
  border-top: none;
}



//
// NODE INFOS
//

// node-infos book
.node-infos-book {
  @include span-columns(12);
  &__title {
    @include span-columns(1 of 12);
    font-size: modular-scale(1);
    line-height: modular-scale(2);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $color-grey;
  }
  &__definition {
    @include span-columns(11 of 12);
		margin-left: 4ex;
    margin-top: - modular-scale(2);
    line-height: modular-scale(1);
    & p {
      margin-top: 0;
    }
  }
}

// node-infos note
.node-infos-note {
  @include span-columns(12);
	background-color: $color-ultralight-green;
  padding: 2ex;
  &__picto {
    @include span-columns(1 of 12);
    margin-right: 0;
    font-size: modular-scale(1);
    text-align: center;
    color: $color-green;
    margin-top: 0.2em;
  }
  &__content {
    @include span-columns(11 of 12);
  }
}

.map {
  margin-top: modular-scale(2);
  height: 250px;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background: $color-medium-green;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
}

/* Accordion for definition lists */
.accordion {
  &__title {
    background-color: $color-light-grey;
    &:hover {
      cursor: pointer;
      background-color: $color-green;
      color: $color-white;
      transition: background-color 0.5s;
    }
    &:before {
      display: inline-block;
      height: modular-scale(3);
      content: "+";
      float:left; 
      margin-right: 1ex;
      margin-left: 1ex;
      font-weight: $font-weight-bold;
      transition: transform 0.3s ease-in-out;
    }


    &--expanded {
      background-color: $color-green;
      color: $color-white;
      &:before {
        transform: rotate(-225deg) translateX(-0.25ex) translateY(modular-scale(3)/4);
      }

    }
  }
  &__content {
    border-left: 2px solid $color-green;
    margin-left: 4ex;
    padding-left: 3ex;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
